<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/style.css">
			<!-- SEO -->
			<meta name="description" content="Julia M. Juliano">
			<meta name="keywords" content="Neuroscience, Motor Learning, Stroke, Virtual Reality, Modeling">
		</head>
		
		<header>
			<h2 style="margin-bottom=5px" style="margin-right=2px"><font size="6"><strong> Julia M. Juliano</strong></font><img src="/images/headshot_2020.jpg" alt="Julia M. Juliano Headshot" style="float:left;height:80px;"></br>
			<font size="4"><i><span style="font-weight:normal"> Neuroscience - Motor Learning - Stroke</i></span></font></h2>
		</header>

		<nav>
		<ul>
			<li><a href="/">About Me +</a></li>
			<li><a href="/curriculum_vitae">Curriculum Vitae</a></li>
			<li><a href="/publications">Publications</a></li>
		</ul>
		</nav>

		<body>
			<div class="container">
				{{ content }}
			</div><!-- /.container -->

			<footer>
			<ul>
				<div style="text-align:center">
				<li><img border="0" alt="Email" src="/images/email_icon.png" width="20" height="20"> <a href="mailto:julia.m.juliano@gmail.com"></a></li>
				<li><img border="0" alt="GitHub" src="/images/github_icon.png" width="20" height="20"> <a href="https://github.com/juliamjuliano"></a></li>
				<li><img border="0" alt="ResearchGate" src="/images/researchgate_icon.png" width="30" height="20"> <a href="https://www.researchgate.net/profile/Julia_Juliano"></a></li>
				<li><img border="0" alt="ORCID" src="/images/orcid_icon.png" width="20" height="20"> <a href="https://orcid.org/0000-0003-4513-2624"></a></li>
				<li><img border="0" alt="Twitter" src="/images/twitter_icon.png" width="20" height="20"> <a href="https://twitter.com/JuliaMJuliano"></a></li>
			</ul>
			</footer>
		</body>
	</html>
